<div ng-controller="OverviewCtrl as ctrl">

    <h1 class="text-center">Overview</h1>

    <form class="form-inline">
        <label for="search">Search:</label>
        <input class="form-control" id="search" type="text" ng-model="ctrl.search"/>
        <a href="" class="glyphicon glyphicon-remove" ng-click="ctrl.clearSearch()"></a>
    </form>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Change</th>
            <th>percentChange</th>
            <th>value</th>
            <th>volume</th>
        </tr>
        </thead>
        <tbody>
        <tr class="squish"
            ng-repeat="stockInfo in ctrl.stocksInfo | filter:ctrl.search"
            ng-click="ctrl.goToStockDetails(stockInfo)"
            ng-class="{odd: ($index%2), even: !($index%2)}">

            <td>{{stockInfo.name}}</td>
            <td>{{stockInfo.symbol}}</td>
            <td>{{stockInfo.change}}</td>
            <td>{{stockInfo.percentChange}}</td>
            <td>{{stockInfo.value}}</td>
            <td>{{stockInfo.volume | number}}</td>
        </tr>
        </tbody>

    </table>
</div>

