<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="C:/Program Files/nodejs/node" path-to-js-file="server/server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="mongoUrl" value="mongodb://admin:angular@ds037627.mongolab.com:37627/heroku_app27052837" />
    </envs>
    <browser start="true" url="http://localhost:3000" />
    <RunnerSettings RunnerId="Basic" />
    <RunnerSettings RunnerId="debuggableProgram" />
    <ConfigurationWrapper RunnerId="Basic" />
    <ConfigurationWrapper RunnerId="debuggableProgram" />
    <method />
  </configuration>
</component>